## Pyhton Alıştırmaları

Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, 
kelime kelime ayırınız

In [3]:
text = "The goal is the turn data into information, and information into insight"

new_list = [word.upper() for word in text.split() if word != "," or word != "."]
print(new_list)

['THE', 'GOAL', 'IS', 'THE', 'TURN', 'DATA', 'INTO', 'INFORMATION,', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

Verilen listeye aşağıdaki adımları uygulayınız.
Adım 1: Verilen listenin eleman sayısına bakınız.
Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
Adım 4: Sekizinci indeksteki elemanı siliniz.
Adım 5: Yeni bir eleman ekleyiniz.
Adım 6: Sekizinci indekse "N" elemanını tekrar ekliniz.

In [4]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
print(len(lst))
print(lst[0] + " - " + lst[10])
print(lst[0:4])

lst.pop(8)
print(lst)

lst.append("X")
print(lst)

lst.insert(8,"N")
print(lst)

11
D - E
['D', 'A', 'T', 'A']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'X']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'X']

Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
Adım 1: Key değerlerine erişiniz.
Adım 2: Value'lara erişiniz.
Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
Adım 5: Antonio'yu dictionary'den siliniz.

In [5]:
dict = {"Christian" : ["America", 18],
       "Daisy" : ["England", 12],
       "Antonio" : ["Spain", 22],
       "Dante" : ["Italy", 25]}

print(dict.keys())
print(dict.values())

dict["Daisy"][1] = 13
print(dict.items())

dict["Ahmet"] = ["Turkey", 34]
print(dict.items())

dict.pop("Antonio")
print(dict.items())

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])
dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])
dict_items([('Christian', ['America', 18]), ('Daisy', ['England', 13]), ('Antonio', ['Spain', 22]), ('Dante', ['Italy', 25])])
dict_items([('Christian', ['America', 18]), ('Daisy', ['England', 13]), ('Antonio', ['Spain', 22]), ('Dante', ['Italy', 25]), ('Ahmet', ['Turkey', 34])])
dict_items([('Christian', ['America', 18]), ('Daisy', ['England', 13]), ('Dante', ['Italy', 25]), ('Ahmet', ['Turkey', 34])])

Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri
return eden fonksiyon yazınız.

In [6]:
l = [2, 13, 18, 93, 22]

def odd_and_even(list):
    odd_list, even_list = [],[]
    for number in list:
        if number % 2 == 0:
            even_list.append(number)

        else:
            odd_list.append(number)

    return odd_list, even_list

new_odd_list, new_even_list = odd_and_even(l)

print(new_odd_list)

print(new_even_list)

[13, 93]
[2, 18, 22]

Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri
bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de 
tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [7]:
ogrenciler = ["Ali", "Ayse", "Veli", "Talat", "Zeynep", "Ece"]

def muhendis_ve_tıp(ogrenciler_listesi):
    for index,ogrenci in enumerate(ogrenciler_listesi, 1):
        if index < 4:
            print("Muhendislik fakultesi " + str(index) + ". ogrenci: " + ogrenci)

        else:
            print("Tıp fakultesi " + str(index - 3) + ". ogrenci: " + ogrenci)

muhendis_ve_tıp(ogrenciler)

Muhendislik fakultesi 1. ogrenci: Ali
Muhendislik fakultesi 2. ogrenci: Ayse
Muhendislik fakultesi 3. ogrenci: Veli
Tıp fakultesi 1. ogrenci: Talat
Tıp fakultesi 2. ogrenci: Zeynep
Tıp fakultesi 3. ogrenci: Ece

Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer
almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [8]:
ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]

ders_bilgileri = list(zip(ders_kodu, kredi, kontenjan))
print(ders_bilgileri)

print("kredisi", ders_bilgileri[0][1] , "olan" , ders_bilgileri[0][0] , "dersinin kontenjanı", ders_bilgileri[0][2], "dir.")
print("kredisi", ders_bilgileri[1][1] , "olan" , ders_bilgileri[1][0] , "dersinin kontenjanı", ders_bilgileri[1][2], "dir.")
print("kredisi", ders_bilgileri[2][1] , "olan" , ders_bilgileri[2][0] , "dersinin kontenjanı", ders_bilgileri[2][2], "dir.")
print("kredisi", ders_bilgileri[3][1] , "olan" , ders_bilgileri[3][0] , "dersinin kontenjanı", ders_bilgileri[3][2], "dir.")

[('CMP1005', 3, 30), ('PSY1001', 4, 75), ('HUK1005', 2, 150), ('SEN2204', 4, 25)]
kredisi 3 olan CMP1005 dersinin kontenjanı 30 dir.
kredisi 4 olan PSY1001 dersinin kontenjanı 75 dir.
kredisi 2 olan HUK1005 dersinin kontenjanı 150 dir.
kredisi 4 olan SEN2204 dersinin kontenjanı 25 dir.

Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını
eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [9]:
kume1 = {"data", "python"}
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])
    
def is_set_super_set(kume1, kume2):
    if kume1.issuperset(kume2):
        print(kume1.intersection(kume2))
        print("sdgdsg")
    else:
        print(kume2.difference(kume1))
        print("asfsdg")

is_set_super_set(kume1, kume2)

{'lambda', 'miuul', 'qcut', 'function'}
asfsdg

## List Comprehension Alıştırmaları

In [11]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [12]:
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük
harfe çeviriniz ve başına NUM ekleyiniz.

In [13]:
new_columns = ["NUM_" + col.upper() for col in df.columns if df[col].dtype != "O"]
print(new_columns)

['NUM_TOTAL', 'NUM_SPEEDING', 'NUM_ALCOHOL', 'NUM_NOT_DISTRACTED', 'NUM_NO_PREVIOUS', 'NUM_INS_PREMIUM', 'NUM_INS_LOSSES']

List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan
değişkenlerin isimlerinin sonuna "FLAG" yazınız.

In [14]:
flag_columns = [col + "_FLAG" if "no" not in col else col for col in df.columns]
print(flag_columns)

['total_FLAG', 'speeding_FLAG', 'alcohol_FLAG', 'not_distracted', 'no_previous', 'ins_premium_FLAG', 'ins_losses_FLAG', 'abbrev_FLAG']

List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan
değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

In [15]:
og_list = ["abbrev", "no_previous"]

new_cols = [col for col in df.columns if col not in og_list]
print(new_cols)

new_df = df[new_cols]
new_df.head()

['total', 'speeding', 'alcohol', 'not_distracted', 'ins_premium', 'ins_losses']

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63